body {
  background-color: var(--red);
  font-family: "druk wild";
  background-image: url(./assets/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
