/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --white: #ffffff;
  --drk_white: #f8f8f8;
  --dark: #1f2326;
  --grey: #c4c4c4;
  --red: #ff4656;
}

@font-face {
  font-family: "druk wild";
  src: url(./fonts/Druk\ Wide\ Bold.eot) format("embedded-opentype"), url(./fonts/Druk\ Wide\ Bold.woff2) format("woff2"), url(./fonts/Druk\ Wide\ Bold.woff) format("woff"), url(./fonts/Druk\ Wide\ Bold.ttf) format("truetype");
}
body {
  font-family: "druk wild";
  position: relative;
}

.first-background {
  top: 70px;
  left: 0;
  width: 100vw;
  height: 80vh;
  background-color: var(--red);
  background-image: url(./assets/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -200;
}

.second-background {
  top: 100px;
  left: 5vw;
  position: absolute;
  width: 65vw;
  aspect-ratio: 16/9;
  background-image: url(./assets/elements.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.7em;
  background-color: var(--dark);
  display: flex;
  color: var(--white);
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
.nav__main {
  display: flex;
  align-items: center;
}
.nav__main .riot-logo {
  height: 30px;
  margin-left: 30px;
}
.nav__main .dash-white {
  background-color: var(--white);
  height: 30px;
  width: 2px;
  margin: 0 30px;
}
.nav__main .valorant-log {
  height: 30px;
}
.nav__list {
  display: flex;
}
.nav__list li {
  margin: 0 20px;
}
.nav__list a {
  color: var(--white);
}
.nav__list .arrow-contain {
  display: flex;
  align-items: center;
}
.nav__info {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.nav__info img {
  border-radius: 50%;
  margin-right: 10px;
}
.nav .arrow {
  margin-left: 5px;
  height: 7px;
}

.description-box {
  flex: 3;
  background-color: var(--white);
  width: 900px;
  min-width: 900px;
  max-width: 900px;
  margin: auto 0;
  height: 757px;
}
.description-box .title {
  margin-left: 50px;
  margin-bottom: 30px;
  padding-top: 20px;
  font-size: 24px;
}
.description-box .description {
  font-size: 14px;
  font-family: "Montserrat";
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
}
.description-box .infos-picture {
  display: flex;
  justify-content: space-between;
}
.description-box .infos-picture img {
  height: 200px;
}
.description-box .infos-picture .infos {
  height: 200px;
}
.description-box .infos-picture .infos ul {
  padding: 0;
  font-size: 14px;
  color: var(--grey);
}
.description-box .infos-picture .infos ul li {
  padding: 6px 0;
}
.description-box .infos-picture .infos ul .info {
  color: var(--dark);
}
.description-box .infos-picture .info-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 90px;
  height: 200px;
}
.description-box .infos-picture .info-elements .info-element {
  border: 1px solid black;
  width: 7px;
  height: 30px;
}
.description-box .infos-picture .info-elements .info-element-red {
  background-color: var(--red);
  width: 7px;
  height: 30px;
}
.description-box .competences {
  margin-top: 20px;
  background-color: var(--dark);
  height: 200px;
  display: flex;
  justify-content: space-around;
}
.description-box .competences .competence-dash {
  margin: auto;
  background-color: var(--red);
  width: 1px;
  height: 160px;
}
.description-box .competences .competence {
  flex: 1;
  color: var(--white);
}
.description-box .competences .competence img {
  margin: 10px auto;
  height: 60px;
}
.description-box .competences .competence h3 {
  font-size: 18px;
  text-align: center;
}
.description-box .competences .competence p {
  margin: 0 5px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
}

.jett-contant {
  flex: 3;
  position: relative;
}
.jett-contant .jett-picture img {
  position: absolute;
}
.jett-contant h1 {
  position: absolute;
  right: -270px;
  top: 30vh;
  font-size: 11em;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 2px var(--white);
  transform: rotate(90deg);
  z-index: -10;
}

header {
  height: calc(100vh - 70px);
  max-width: 90vw;
  margin: auto;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
